button {
box-sizing: border-box;

/* Auto layout */

display: flex;
flex-direction: row;
justify-content: center;
align-items: center;
padding: 11px 24px;
gap: 10px;



background: #C7923E;
border: 1px solid #304F47;
border-radius: 8px;
}